ruby:
  exercises = []
  exercises << OpenStruct.new(
          title: 'find系メソッド',
          text: %w(find find_by find_or_initialize_by find_or_create_by exists?).join(', '),
          controller: 'exercises',
          action: 'kind_of_find'
  )
  exercises << OpenStruct.new(
          title: '集約関数について',
          text: %w(count maximum minimum average sum).join(', '),
          controller: 'exercises',
          action: 'aggregate'
  )
  exercises << OpenStruct.new(
          title: '大量のデータを扱う',
          text: %w(find_each find_in_batches).join(', '),
          controller: 'exercises',
          action: 'handle_many_data'
  )
  exercises << OpenStruct.new(
          title: 'テーブルの連結',
          text: %w(joins includes preload eager_load).join(', '),
          controller: 'exercises',
          action: 'handle_join'
  )
  exercises << OpenStruct.new(
          title: '出演俳優ランキング',
          text: '出演俳優ランキングを出力してみます',
          controller: 'exercises',
          action: 'actor'
  )


h1 Exercises

.row
  - exercises.each do |exercise|
    .col-sm-6
      .card.mb-4
        .card-body
          h5.card-title = exercise.title
          = simple_format exercise.text, class: 'card-text' if exercise.text.present?
          = link_to '見る',
                  { controller: exercise.controller,
                    action: exercise.action }, { class: 'btn btn-primary' }